* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
 h2 {
     font-size: 1.5rem;
     color: rgb(226, 63, 117);
     border-top: 1px solid #888;
     border-bottom: 1px solid #888;
     padding: 1rem 0;
     margin-bottom: 2rem;
 }
p {
    line-height: 1.5;
}

section + section {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 9999px;
    width: 200px;
    height: 200px;
}
