* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}
 h2 {
     font-size: 1.5rem;
     color: rgb(226, 63, 117);
     border-top: 1px solid #888;
     border-bottom: 1px solid #888;
     padding: 1rem 0;
     margin-bottom: 2rem;
 }

 h3 {
    font-size: 1rem;
    color: salmon;
 }

 ul {
    list-style: none;
}

 p {
    line-height: 1.5;
}

body {
    padding: 0.5rem 1rem;
    background: linear-gradient(rgb(250, 208, 208), rgb(226, 63, 117));
}

.cv {
    display: grid;
    background: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 3rem;
}

.duration {
    padding-bottom: 0.5rem;
}

section + section {
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 9999px;
    width: 200px;
    height: 200px;
}

.profile p {
    color: #888;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.contact ul {
    margin-top: -2rem;
}

.contact li {
    text-align: center;
    display: flex;
    padding: 0.1rem;
}

li + li {
    margin-top: 1rem;
}


